.product-page {
    padding: 20px;
}

.product-header {
    text-align: center;
    margin-bottom: 20px;
}

.product-header h1 {
    font-size: 2em;
}

.product-header p {
    margin: 10px 0;
}

.price-section {
    font-size: 1.5em;
    margin: 20px 0;
}

.price-section .current-price {
    color: red;
}

.price-section .old-price {
    text-decoration: line-through;
    margin-left: 10px;
    color: grey;
}

.price-section .discount {
    margin-left: 10px;
    color: purple;
}

.btn-warning {
    background-color: orange;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.product-slider img {
    width: 100%;
    height: auto;
    object-fit: contain;
    cursor: pointer;
    margin: 10px 0; /* Отступы по бокам от картинки */
}

.product-details {
    margin-top: 20px;
}

.product-details ul {
    padding: 0;
    list-style: none;
}

.product-details ul li {
    margin-bottom: 10px;
}

/* Модальное окно */
.modal {
    display: none; /* Изначально скрыто */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1050;
    align-items: center;
    justify-content: center;
}

.modal-dialog {
    max-width: 90%;
}

.modal-content {
    background-color: white;
    padding: 20px;
    position: relative;
}

.modal img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Стили для кнопки закрытия в модальном окне */
.modal-header .close {
    background: none; /* Убираем фон */
    border: none; /* Убираем рамку */
    color: black; /* Черный цвет текста */
    font-size: 2rem; /* Размер шрифта */
    font-weight: bold; /* Жирное начертание */
    cursor: pointer; /* Курсор в виде руки */
}

.modal-header .close:hover {
    color: #555; /* Цвет при наведении */
}

.btn-add-to-cart {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-add-to-cart:hover {
    background-color: #218838;
}

.btn-add-to-cart:focus {
    outline: none;
}