.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.product-card .card-img-top {
    object-fit: cover;
    height: 270px;
}

.product-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card .price {
    font-weight: bold;
    font-size: 1.2rem;
    color: #000;
}

.my-button {
    margin-top: auto;
}

.image-link {
    display: block;
    overflow: hidden;
}

.image-link img {
    width: 100%;
    height: auto;
}
.style-image{
    width: auto !important;
}