.product-list {
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
    justify-content: space-between; /* Распределяет пространство равномерно между элементами */
    gap: 20px; /* Расстояние между карточками */
}