.product-card {
    width: 300px; /* Задание фиксированной ширины для карточки */
    margin: 0 auto; /* Выравнивание карточки по центру */
}

.product-card img {
    width: 100%; /* Убедитесь, что изображение занимает всю ширину карточки */
    height: auto; /* Сохраняйте пропорции изображения */
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Распределение пространства между элементами */
    height: 100%;
}

.card-title {
    font-size: 1.25rem; /* Увеличение размера шрифта заголовка */
    font-weight: bold; /* Жирный шрифт для заголовка */
}

.card-text {
    margin-bottom: 1rem; /* Отступ снизу для текста */
}

.my-button {
    margin-top: auto; /* Перемещение кнопки в конец карточки */
}
